.sidebar {
    border: 1px solid rgb(246, 246, 246);
    border-radius: 4%;
    padding: 10px;
    margin: 5px;
    grid-area: sidebar;
    background: rgb(247, 247, 247);
    li {
        font-size: 16px;
    }
    a {
        color: rgb(63, 63, 63);
    }
}
